* {
  box-sizing: border-box;
  margin: 0px;
  padding; 0px;
}

.navbar {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0px 40px;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
}

.navbar img {
  margin-top: 20px;
}

.app-container {
  display: grid;
  /* background-color: #223; */
  height: 600px;
  max-width: 1000px;
  grid-template-columns: 3fr 4fr;
  align-content: center;
  padding: 20px;
  gap: 0px 40px;
  margin: auto;
}

.mad-lib-box {
  display: grid;
  /* background-color: #ee4; */
  height: 500px;
  gap: 10px;
  padding: 10px;
  grid-row: 1/4;
}

.mad-lib-results {
  display: grid;
  /* background-color: #e00; */
  height: 300px;
  margin: 10px;
  font-size: 1.2rem;
  max-width: 500px;
  min-width: 200px;
}

.zk-box {
  display: grid;
  height: 240px;
  /* background: #4fd; */
}

.zk-info {
  display: grid;
  background: #d9d9d9;
  max-width: 500px;
  min-width: 200px;
  height: 190px;
  margin: 10px;
  padding: 10px;
}

.center-text {
  display: grid;
  padding: 12px;
  font-size: 1.2rem;
}

.box-title {
  background-color: #d9d9d9;
  height: 40px;
  text-align: center;
}

.box-form {
  background-color: #d9d9d9;
  height: 317px;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.box-button {
  height: 40px;
  text-align: center;
  min-width: 150px;
}

.reload {
  background-color: #d9d9d9;
}

.submit {
  background-color: #328efa;
}

.shadow {
  border-radius: 2px;
  filter: drop-shadow(8px 8px 0px #292929);
}

.input {
  height: 30px;
  border-radius: 3px;
  font-size: 1.2em;
}

.label {
  display: flex;
  justify-content: space-between;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  padding: 15px 10px;
  justify-content: center;
}

.form-sections {
  display: grid;
  gap: 90px;
}

.connect-button {
  height: 55px;
  min-width: 150px;
  background: #56e196;
  margin: auto 0px;
}

.eyes {
  position: absolute;
  top: 49px;
  width: 90vw;
  transform: transalateY(-50%);
  text-align: center;
  background: red;
}

.eye {
  width: 15px;
  height: 15px;
  background: #fff;
  display: inline-block;
  margin: 0px;
  border-radius: 50%;
  border: 3px solid #000;
  position: absolute;
  overflow: hidden;
}

.left-eye {
  left: 47%;
}
.right-eye {
  left: 49%;
}

.eye-ball {
  width: 5px;
  height: 5px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: transalate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #320;
}
.fill-challenge {
  border-bottom: 2px dotted;
}

.challenge {
  padding: 20px;
}
